p {
    color: green;
    font-size: 16px;
}


/* font properties */

p {
    font-family: "Arial", "Helvetica", sans-serif;
}


/* font-size */
h1 {
    font-size: 24px;
}

p {
    font-size: 1.5em;
    /* 1.5 times the size of the parent element's font size */
}

/* font-weight */

p {
    font-weight: bold;
}

h2 {
    font-weight: 700;
    /* Equivalent to 'bold' */
}


/* font-style */

em {
    font-style: italic;
}

p {
    font-style: normal;
}

/* font-varient */

p {
    font-variant: small-caps;
}

/* line-height */

p {
    line-height: 1.6;  /* 1.6 times the font size */
  }

/* letter-spacing */

h1 {
    letter-spacing: 2px;
  }

/* word-spacing */

  p {
    word-spacing: 5px;
  }
  
  /* text-transform */

  p {
    text-transform: uppercase;
  }
  

  /* font (Shorthand Property) */

  p {
    font: italic small-caps bold 16px/1.5 "Arial", sans-serif;
  }
  

  